<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header><img src='/img/logo.jpg' alt="Meadowlark Travel Logo"></header>
        {{{body}}}  <!-- These tags will be replaced with the requested HTML file for each view -->
    </body>
</html>